<!doctype html>
{% from 'bootstrap4/utils.html' import render_messages %}
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}Your page title{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
      {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Centric</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
            <ul class="navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('main.user', username=current_user.username)}}">Profile</a></li>
                  <li><a class="dropdown-item" href="{{url_for('auth.change_password')}}">Change Password</a></li>
                  <li><a class="dropdown-item" href="{{url_for('auth.change_email_request')}}">Change Email</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a></li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}

      <!-- page content -->
      {% block content %}
        <div class="container-fluid">
          {{render_messages()}}
          {% block page_content %}{% endblock %}
        </div>
      </div>
      {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>